/* подключение локальный шрифтов на страницу */
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    display: swap;
}

* {
    box-sizing: border-box;
}

    

/* сброс стилей по умолчанию */
body,h1,h2,h3,p,ul,li {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}

/* задание шрифта всей странице */
body {
    font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1;
}

@media  screen and (max-width: 1440px) {
    

/* стили для хедера(шапки) сайта */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
}

.logo-link {
    max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
}

/* стили для  */
.content {
    margin: 32px 0;
    max-width: 1140px;
}

h1 {
    font-size: 48px;
}

/* стили для контейнера кроссовок */
.sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 32px 0 0;
    
}
.sneaker-image{
    border-radius: 12px;
}
/* стили для карточки кроссовок */
.sneaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    height: 100%;
    border-radius: 12px;
    background: white;
    text-decoration: none;
}
.sneaker_link:visited{
    color: #121723;
}
.sneaker-image {
    width: 100%;
}

.sneaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 32px 24px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}

/* стили для футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;
}

.footer__logo-link {
    max-width: 300px;
    width: 100%;
}

footer .nav-link {
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    border-top: 1px solid #A1A6B4;
}

.copyright-text {
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
}
.container_about{
    background-color: white;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: "Anonymous Pro", sans-serif;
    border-radius: 50px;
    width: 1140px;
    
}
.name_sneaker{
    padding: 32px 48px 24px 48px;
    font-size: 48px;
}
.name_sneaker_full{
    padding: 0px 48px 24px 48px;
    font-size: 36px;
}
.full_about{
    
    max-width: 506px;
    padding: 0px 32px 48px 48px;
    line-height: 28px;
}
.bottom_about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 506px;
    margin-right: 48px;
}
.about_title{
    font-size: 30px;
    border-bottom: 1px solid #121723;
    height: 45px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    font-weight: 400px;
    padding: 0px 0px 0px 0px;
}
.about_date{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #121723;
    height: 45px;
    width: 100%;
}
.about_cost{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #121723;
    height: 45px;
    width: 100%;
}
.about_materials{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #121723;
    height: 45px;
    width: 100%;
}
.sneaker_link{
    transition: box-shadow ease-in-out 200ms;
    
}
.sneaker{
    transition-duration: 300ms
}
.sneaker_link:hover .sneaker{
    transform: translateY(-10px);
    box-shadow: 10px 10px 13px 0px #AFAFAF;
    
}
.sneaker_link:hover .sneaker{
    transform: translateY(-10px);
    box-shadow: 10px 10px 13px 0px #AFAFAF;
    
}
.card-full__img{
    width: 1044px;
    margin-left: 48px;
   
}
}
@media screen and (max-width: 375px)  {
    main {
        flex-direction: column;
        width: 100%;
        
    }
   
    .header-container{
        flex-direction: column;
        align-items: center;
        justify-content: normal;
    }
    .container_about{
        max-width: 343px;
        width: 100%;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        justify-content: normal;
    }
    .content{
        align-items: center;
        width: 343px;
    }
    .nav-list{
        margin-top: 24px;
    }
    .card-full__img{
        width: 295px;
        align-items: center;
        margin: 24px 24px 0px 24px;
        
    }
    .name_sneaker {
        font-size: 32px;
        padding: 32px 24px 24px 24px;
    }
    .name_sneaker_full{
        font-size: 20px;
        padding: 0px 24px 24px 24px;
    }
    .about_title{
        font-size: 24px;
    }
    .about{
        width: 295px;
        padding-bottom: 24px;
        margin: 0;
        margin-left: 24px;

    }
    .full_about{
        padding-left: 24px;
        font-size: 16px;
    }
    .materials{
        font-size: 16px;
    }
    .cost{
        font-size: 16px;

    }
    .date{
        font-size: 16px;

    }
    .bottom_about{
        width: 100%;
    }
    .footer-content{
        width: 343px;
        align-items: center;
    }
    .copyright{
        width: 343px;
        align-items: center;
    }
    body {
        font-family: "Anonymous Pro", sans-serif;
    }
}